<div class="card text-white bg-secondary" style="width: 18rem;" *ngIf="number==0">
    <img *ngIf="imagen.color=='gris'" [src]="'https://picsum.photos/450?grayscale&random='+imagen.indice" class="card-img-top" alt="...">
    <img *ngIf="imagen.color=='total'" [src]="'https://picsum.photos/450?random='+imagen.indice" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere tempora sapiente inventore, magni quidem enim.</p>
    </div>
</div>
<div class="card text-dark bg-light" style="width: 18rem;" *ngIf="number==1">
    <img *ngIf="imagen.color=='gris'" [src]="'https://picsum.photos/450?grayscale&random='+imagen.indice" class="card-img-top" alt="...">
    <img *ngIf="imagen.color=='total'" [src]="'https://picsum.photos/450?random='+imagen.indice" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere tempora sapiente inventore, magni quidem enim.</p>
    </div>
</div>
<div class="card text-white bg-dark" style="width: 18rem;" *ngIf="number==2">
    <img *ngIf="imagen.color=='gris'" [src]="'https://picsum.photos/450?grayscale&random='+imagen.indice" class="card-img-top" alt="...">
    <img *ngIf="imagen.color=='total'" [src]="'https://picsum.photos/450?random='+imagen.indice" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere tempora sapiente inventore, magni quidem enim.</p>
    </div>
</div>
