<div class="container m-5 p-5 bg-gray">
    <h1>Error 404: Página no encontrada</h1>
    <h3 class="text-secondary">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In tempora iste facilis sapiente excepturi aut optio consequuntur nulla, repellendus voluptatem! Soluta blanditiis non pariatur sit porro quod odio omnis earum!</p>
        <p>Quas quisquam, dolores ipsa nam officia temporibus, vero illum similique odio natus doloribus vel sunt repellendus voluptate maxime modi? Omnis sequi reiciendis magni harum ex incidunt ipsa earum et nulla.</p>
        <p>Error dolorem facere dignissimos, dolorum rem deleniti repudiandae magni eligendi, eveniet repellat dolore qui possimus fuga sequi itaque odio earum reprehenderit voluptatum nemo velit nobis laudantium voluptas? Possimus, quae explicabo?</p>
    </h3>
    <button class="btn btn-secondary btn-lg" routerLink="/pagina1">Regresar</button>
</div>
